footer ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    display: inline;
}

.height100vh {
    height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
}

@media only screen and (max-width: 1200px) {
    #landingimg {
        height: 400px !important;
    }
}

@media only screen and (max-width: 600px) {
    img:not(#logo, .playstore) {
        width: 300px;
        margin: auto;
    }

    .playstore {
        height: 40px !important;
    }

    #landingimg {
        height: 300px !important;
    }

    .socialtext h1 {
        font-size: 20px !important;
    }

    .socialtext p {
        font-size: 15px !important;
    }
}

footer {
    height: 50px;
}

html {
    scroll-behaviour: smooth;
}

img:not(#logo) {
    max-height: 600px;
}

.row {
    margin: 5px;
}

#landing {
    background-color: #23AA85;
}

img {
    padding: 0 !important;
}

.feature {
    margin: auto;
}
